h1 {
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

#box {
    max-width:100px;
    max-height:100px;
    width: 75px;
    height: 75px;
    align-content: center;
    border: 20px;
    display:block;
}

#buttonConvert {
    padding-top: 10px;
    align-content: center;
}